Flask
outlines==1.0.4
python-dotenv
uvicorn
Pillow
numpy
ollama
pdf2image
transformers
# torch
# torchvision
accelerate
datasets
beautifulsoup4
pyjwt
celery
dash
redis
torch==2.7.1+rocm6.3
torchvision==0.15.1+rocm6.3