Flask
outlines==1.0.4
python-dotenv
uvicorn
Pillow
numpy
ollama
pdf2image
transformers
# torch
# torchvision
accelerate
datasets
beautifulsoup4
pyjwt
celery
dash
redis
torch==2.6.0+rocm6.4.2
torchvision==0.22.0+rocm6.4.2